version: 1.0.{build}

skip_tags: true

nuget:
  disable_publish_on_pr: true

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

platform: Any CPU

configuration: Release

before_build:
- nuget restore

build:
  verbosity: minimal
  project: ZSpriteTools.sln
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true

after_build:
- 7z a ZSpriteTools-%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\ZSpriteTools\bin\%CONFIGURATION%\nlog.config
- 7z a ZSpriteTools-%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\ZSpriteTools\bin\%CONFIGURATION%\NLog.dll
- 7z a ZSpriteTools-%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\ZSpriteTools\bin\%CONFIGURATION%\NLog.xml
- 7z a ZSpriteTools-%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\ZSpriteTools\bin\%CONFIGURATION%\SpriteLibrary.dll
- 7z a ZSpriteTools-%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\ZSpriteTools\bin\%CONFIGURATION%\ZSpriteTools.exe
- 7z a ZSpriteTools-%APPVEYOR_BUILD_VERSION%.zip %APPVEYOR_BUILD_FOLDER%\ZSpriteTools\bin\%CONFIGURATION%\ZSpriteTools.exe.config

artifacts:
- path: SpriteLibrary\bin\%CONFIGURATION%\SpriteLibrary.dll
- path: ZSpriteTools-$(appveyor_build_version).zip
- path: '**\SpriteLibrary.$(appveyor_build_version).nupkg'
- path: '**\SpriteLibrary.$(appveyor_build_version).symbols.nupkg'

deploy:
- provider: GitHub
  auth_token:
    secure: ViWNMG9POKQc60IVRa88gr+T8To/aPCGDMn8xGVPGACQYx/sESKtXg77AS/LQt0F
  draft: false
- provider: NuGet
  server: https://www.myget.org/F/sosuke3-ci/api/v2
  api_key:
    secure: v/wpf+t9YFQEkAumK2jCz1I3cEyraQUe+6488s1zo2b7yWp3VUJJB34bwzg9sOJ8
  artifact: SpriteLibrary.$(appveyor_build_version).nupkg
  on:
    branch: master
- provider: NuGet
  api_key:
    secure: v/wpf+t9YFQEkAumK2jCz1I3cEyraQUe+6488s1zo2b7yWp3VUJJB34bwzg9sOJ8
  artifact: SpriteLibrary.$(appveyor_build_version).symbols.nupkg
  symbol_server: https://www.myget.org/F/sosuke3-ci/api/v2
  on:
    branch: master
